@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script>
    $(document).ready(function (e) {

        alert("tt");

        var settings = {
        "url": "https://localhost:44384/person",
        "method": "POST",
        "timeout": 0,
        "headers": {
            "Content-Type": "application/json"
        },
        "data": JSON.stringify({"number":"10","name":"name","surname":"surname"}),
        };

        $.ajax(settings).done(function (response) {
        console.log(response);
        });
      
      });
</script>
