@{
    ViewData["Title"] = "Home Page";
}

<form>
    <input type="text" id="personNumber" placeholder="person number">
    <input type="text" id="name" placeholder="name" />
    <input type="text" id="surname" placeholder="surname" />
    <input type="submit" value="gönder">
</form>
<script>

   
    $(document).ready(function () {
         $.ajax({
            type: "POST",
            url: "https://localhost:44384/api/People",
            data: JSON.stringify({ "name": "namesss", "surname": "surname" }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(result) {

                alert(JSON.stringify(result));

            },
            error: function() {
                alert("Talep esnasında sorun oluştu. Yeniden deneyin");

            }
        });
    });

   
</script>